@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #fcaf02;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}

.logo {
    padding-left: 20px;
}

.nav-links ul {
    display: flex;
    list-style-type: none;
}

.nav-links ul li {
    padding: 20px;
    font-size: 20px;
}

.hero-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.margin {
    margin: 15px;
}

.btn-primary {
    border: none;
    background-color: #fcaf02;
    font-weight: 900;
    font-size: larger;
    padding: 10px 60px;
    border-radius: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.input-field {
    padding: 15px;
    color: #fcaf02;
    border: 2px solid #fcaf02;
    border-radius: 30px;
    background-color: black;
}

.input-field::placeholder {
    color: #fcaf02;
}

.width-48 {
    width: 48%;
}

.contact-heading {
    font-size: 50px;
    color: #fcaf02;
}

.page-heading {
    font-size: 50px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.data-table {
    border-collapse: collapse;
    border: 2px solid #fcaf02;
    width: 100vw;
    color: #fcaf02;
}

.table-cell {
    padding: 10px 20px;
}

.table-body-row td {
    border-right: 2px solid #fcaf02;
}

.table-footer-row td {
    border-right: 2px solid black;
    background-color: #fcaf02;
    color: black;
}

.width-5 {
    width: 5%;
}

.text-center {
    text-align: center;
}

.body-container {
    background-color: black;
}

.text-white {
    color: white;
}

.last-cell {
    border-right: 2px solid #fcaf02;
}